<style>
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   margin-top: -20px;
   margin-bottom: -50px;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   z-index: 60;
   padding-bottom: 30px;

}
.foot{
   padding-top: 70px;
}
.foot a{
   font-size: large;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
.foot p{
  color: white;
  text-decoration: none;
}
</style>
<div class="footer">
   <div class="foot">
     <a href="">About</a> 
     <a href="">Contact</a> 
     <a href="">F&Q</a> 
   </div>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis laboriosam minus temporibus fuga enim repudiandae. Quam dolor aspernatur sapiente veritatis eligendi ab fuga animi provident ratione quae! Labore, tenetur quas?</p>
   <p>Copyright &copy; 2022</p>
 </div>