<style>
  /* mid-cntent */

  .mid_content .watch {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: rgb(3, 251, 15) 0px 50px 100px -10px,
      rgb(60, 100, 100) 20px 30px 60px -20px,
      rgb(0, 4, 100) 0px -2px 48px 0px inset;
    text-align: center;
  }

  .watch_sec {
    position: absolute;
    margin-top: 1.4cm;
    margin-left: 7px;
    width: 2px;
    height: 140px;
    background-color: rgb(77, 48, 48);
    transform-origin: 0px 100px;
    transform: rotate(0deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 10;
  }
  .watch_min {
    position: absolute;
    margin-top: 1.6cm;
    margin-left: 6px;
    width: 4px;
    height: 130px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgba(13, 4, 97, 0.938);
    transform-origin: 2px 95px;
    transform: rotate(0deg);
    z-index: 9;
  }
  .watch_hr {
    position: absolute;
    margin-top: 2.3cm;
    margin-left: 6px;
    width: 7px;
    height: 100px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: white;
    box-shadow: rgb(255, 0, 0) 0px 50px 100px -40px,
      rgb(255, 0, 0) 20px 30px 60px -20px,
      rgb(255, 0, 0) 0px -2px 48px 0px inset;
    transform-origin: 2px 65px;
    transform: rotate(0deg);
    z-index: 8;
  }
  .watch_dot {
    z-index: 11;
    position: absolute;
    margin-top: 142px;
    margin-left: -4px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
  }

  .watch_small_dot {
    z-index: 10;
    position: absolute;
    margin-top: 150px;
    margin-left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    z-index: 12;
  }
  .a12 {
    position: absolute;
    margin-top: 0.8cm;
  }
  .a1 {
    position: absolute;
    margin-top: 1.3cm;
    margin-left: 1.7cm;
  }
  .a2 {
    position: absolute;
    margin-top: 2.2cm;
    margin-left: 2.7cm;
  }
  .a3 {
    position: absolute;
    margin-top: 3.8cm;
    margin-left: 3.2cm;
  }
  .a4 {
    position: absolute;
    margin-top: 5.3cm;
    margin-left: 2.7cm;
  }
  .a5 {
    position: absolute;
    margin-top: 6.2cm;
    margin-left: 1.5cm;
  }
  .a6 {
    position: absolute;
    margin-top: 6.8cm;
  }
  .a7 {
    position: absolute;
    margin-top: 6.5cm;
    margin-left: -1.5cm;
  }
  .a8 {
    position: absolute;
    margin-top: 5.4cm;
    margin-left: -2.6cm;
  }
  .a9 {
    position: absolute;
    margin-top: 3.8cm;
    margin-left: -3.2cm;
  }
  .a10 {
    position: absolute;
    margin-top: 2.2cm;
    margin-left: -2.7cm;
  }
  .a11 {
    position: absolute;
    margin-top: 1.1cm;
    margin-left: -1.5cm;
  }

  /* mid-cntent */

  /* game_aria */
  .game_aria {
    margin-top: 100px;
    height: 500px;
  }

  .first_game {
    position: relative;
    width: 40%;
    height: 200px;
    background-color: white;
    margin: 50px;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .second_game {
    float: right;
    width: 40%;
    height: 200px;
    background-color: white;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  @media only screen and (max-width: 1000px) {
    .first_game {
      position: relative;
      width: 35%;
      height: 200px;
      background-color: white;
      margin: 50px;
      float: left;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .second_game {
      float: right;
      width: 35%;
      height: 200px;
      background-color: white;
      margin: 50px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  @media only screen and (max-width: 820px) {
    .first_game {
      position: relative;
      width: 35%;
      height: 200px;
      background-color: white;
      margin: 50px;
      float: left;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .second_game {
      float: right;
      width: 35%;
      height: 200px;
      background-color: white;
      margin: 50px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  @media only screen and (max-width: 660px) {
    .first_game {
      position: relative;
      width: 35%;
      height: 200px;
      background-color: white;
      margin: 50px;
      float: left;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .second_game {
      float: right;
      width: 35%;
      height: 200px;
      background-color: white;
      margin: 50px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  @media only screen and (max-width: 666px) {
    .first_game {
      position: relative;
      width: 30%;
      height: 200px;
      background-color: white;
      margin: 50px;
      float: left;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .second_game {
      float: right;
      width: 30%;
      height: 200px;
      background-color: white;
      margin: 50px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  @media only screen and (max-width: 600px) {
    .first_game {
      float: none;
      margin: 0 auto;
      background-color: black;
    }
    .second_game {
      float: none;
      margin: 0 auto;
      margin-top: 30px;
      background-color: black;
    }
  }
  /* game_aria */
</style>

<div>


  <div class="mid_content">
    
    <div class="watch">
      <div class="time">
        <span class="a12">12</span>
        <span class="a1">1</span>
        <span class="a2">2</span>
        <span class="a3">3</span>
        <span class="a4">4</span>
        <span class="a5">5</span>
        <span class="a6">6</span>
        <span class="a7">7</span>
        <span class="a8">8</span>
        <span class="a9">9</span>
        <span class="a10">10</span>
        <span class="a11">11</span>
      </div>
      <span class="watch_dot"></span>
      <span class="watch_small_dot"></span>
      <span class="watch_sec"></span>
      <span class="watch_min"></span>
      <span class="watch_hr"></span>
    </div>
    <div class="game_aria">
      <div class="first_game">s</div>
      <div class="second_game">
        <div class="fff"></div>
      </div>
    </div>
  </div>
</div>
<script>
  'use strict';
  const sec = document.querySelector('.watch_sec');
  const min = document.querySelector('.watch_min');
  const hr = document.querySelector('.watch_hr');


  setInterval(function () {
  let today = new Date();
  let timeSec = today.getSeconds();
  let timeMin = today.getMinutes();
  let timeHr = today.getHours();
  sec.style.transform = 'rotate(' + timeSec * 6 + 'deg)';
  min.style.transform = 'rotate(' + timeMin * 6 + 'deg)';
  let getHrTime = null; 
  switch (timeHr) {
    case 1:
      getHrTime = 30;
      break;
    case 13:
      getHrTime = 30;
      break;
    case 2:
      getHrTime = 60;
      break;
    case 14:
      getHrTime = 60;
      break;
    case 3:
      getHrTime = 90;
      break;
    case 15:
      getHrTime = 90;
      break;
    case 4:
      getHrTime = 120;
      break;
    case 16:
      getHrTime = 120;
      break;
    case 5:
      getHrTime = 150;
      break;
    case 17:
      getHrTime = 150;
      break;
    case 6:
      getHrTime = 180;
      break;
    case 18:
      getHrTime = 180;
      break;
    case 7:
      getHrTime = 210;
      break;
    case 19:
      getHrTime = 210;
      break;
    case 8:
      getHrTime = 240;
      break;
    case 20:
      getHrTime = 240;
      break;
    case 9:
      getHrTime = 270;
      break;
    case 21:
      getHrTime = 270;
      break;
    case 10:
      getHrTime = 300;
      break;
    case 22:
      getHrTime = 300;
      break;
    case 11:
      getHrTime = 330;
      break;
    case 23:
      getHrTime = 330;
      break;
    case 12:
      getHrTime = 0;
      break;
    case 24:
      getHrTime = 0;
      break;
    case 0:
      getHrTime = 0;
      break;
    default:
      getHrTime = 0;
      break;
  }
  hr.style.transform = 'rotate(' + getHrTime + 'deg)'; 
  }, 1000); 
</script>

