.mainBlock {
  position: relative;
  margin: auto;
  padding: 5%;
  align-content: center;
  background-color: aquamarine;
  width: 70%;
  height: 30em;
}
.randomBox {
  width: 50px;
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: azure;
  position: relative;
}
.verticalLine {
  border-left: 6px solid green;
  height: 150px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 40%;
}
.player1Random {
  width: 10px;
  padding: 2%;
  background-color: aliceblue;
  margin-left: 20%;
  margin-top: 5%;
}
.player2Random {
  width: 10px;
  padding: 2%;
  margin-left: 75%;
  margin-top: -6%;
  background-color: aliceblue;
}
.playBtn {
  position: absolute;
  padding: 2%;
  margin-left: 40%;
  margin-top: 40px;
}
.p2 {
  text-align: right;
  margin-top: -40px;
}
.p1 {
  text-align: left;
  margin-top: 100px;
}
